@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Josefin+Sans|Julius+Sans+One|Lato|Poiret+One|Raleway');
.App { text-align: center; }
audio { width: 0; height: 0; visibility: hidden; }
html, body {
  width: 100%; height: 100%; overflow: auto;
}
body {
  background: url(images/background.png) center/cover no-repeat;
}
.monolith {
  transition: all 0.375s ease;
  transition-delay: 1.75s;
  width: 634px; height: 151px; background: url(images/mebop.png) no-repeat;
  margin: 3% auto 0;
  &.hidden {
    margin-top: -10%;
  }
}
.audio-player {
  transition: all 0.967s ease;
  .control {
    transition: all 0.967s ease;
    position: relative;
    svg {
      transition: all 0.725s ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .pause { display: none; }
  .prev, .play, .next {
    display: inline-block;
  }
  .prev, .next {
    position: relative; top: 40px;
    &:active { transition: transform 0.35s; }
  }
  .prev {
    margin-right: 220px;
    &:active {
      transform: rotateZ(-20deg) translateX(10px);
      transform-origin: bottom right;
    }
  }
  .next {
    margin-left: 200px;
    &:active {
      transform: rotateZ(20deg) translateX(-10px);
      transform-origin: bottom left;
    }
  }
  .tracker {
    position: fixed;
    filter: drop-shadow(0 70px 10px #652f0e);
    canvas {
      position: fixed;
      user-select: none;
      left: 11%;
      top: -72%;
      transform: rotateX(70deg) scale(1.3) rotateZ(45deg);
      transition: transform 1.875s ease, top 2.25s ease, filter 5s ease;
      filter: drop-shadow(0 12px 0px white) sepia(100%);
    }
    input { visibility: hidden }
    & > div {
      filter: drop-shadow(0px 10px 15px white);
    }
    &:not(.read-only) {
      visibility: hidden;
      canvas { cursor: ns-resize; }
    }
  }
  .time {
    position: absolute;
    bottom: 20px;
    color: #fffad6;
    font-size: 4em;
    // font-family: Bubbler One;
    // font-family: Bungee Outline;
    font-family: Josefin Sans;
    // font-family: Julius Sans One;
    // font-family: Poiret One;
    // font-family: Raleway;
    z-index: -1;
    filter: drop-shadow(#cc995c 0 12px 4px);
    transition: color 1s, filter 2s ease-out, font-size 3s ease-in;
    &.current {
      left: 20px;
    }
    &.duration {
      right: 20px;
    }
    span {
      cursor: default;
      filter: drop-shadow(#7b472c 0 1px 2px);
      transition: filter 1.67s ease;
    }
  }
  .title {
    position: fixed;
    color: white;
    // font-family: Bubbler One;
    // font-family: Bungee Outline;
    // font-family: Josefin Sans;
    // font-family: Julius Sans One;
    // font-family: Poiret One;
    font-family: Raleway;
    &.mono {
      font-size: 8.75em;
      width: 100%;
      left: 0;
      top: 10%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 2.5s ease-out, visibility 2.5s;
      filter: drop-shadow(darkorange 0 7px 8px);
      text-shadow: 0 80px 2em #FFEE6F;
      span {
        filter: drop-shadow(#7b472c 0 1px 2px);
      }
    }
    &.mini {
      font-size: 1.525em;
      right: 10px;
      bottom: 10px;
      transition: right 2.5s ease-out;
      text-align: right;
      min-width: 50%;
      filter: drop-shadow(#ab5e00 0 3px 4px);
      text-shadow: 0 1px 1px darken(#E9581D, 20%), 0 3.5px 0.875em #FFEE6F;
      span {
        font-weight: bold;
        display: block;
        font-size: 2.25rem;
        filter: drop-shadow(darken(#E9581D, 40%) 0 1px 1px);
      }
    }
    marquee {
      overflow: visible !important;
      filter: drop-shadow(black 0 1px 1px);
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: fixed;
    top: 15px;
    right: 80px;
    .icon {
      position: absolute;
      transition: opacity 0.695s, transform 0.575s ease;
      &.audible { left: 0; opacity: 1; }
      &.muted { left: -2px; opacity: 0; }
    }
    &.mute {
      .icon {
        &.audible { opacity: 0; }
        &.muted { opacity: 1; }
      }
    }
    &:hover {
      .icon {
        transform: scale(1.25);
        &.muted { left: -4px; }
      }
    }
  }
  svg {
    cursor: pointer;
  }
  &.major {
    position: absolute;
    width: 100%;
    top: 25%;
  }
  &.playing {
    .pause { display: inline-block; }
    .play { display: none; }
    .prev, .next { top: -27px; margin: 50px; }
    .tracker {
      &.read-only { visibility: hidden; }
      &:not(.read-only) { visibility: visible; }
      canvas {
        top: 25%!important;
        transform: rotateX(70deg) scale(1);
        filter: drop-shadow(0 12px 0px white) sepia(0%);
      }
      &.tracking {
        z-index: 1;
        canvas {
          transform: rotateX(360deg) scale(0.5) translateY(-20%);
          filter: drop-shadow(orange 0 0 2px);
        }
      }
    }
    .time {
      color: white;
      filter: drop-shadow(darkorange 0 15px 5.575px);
      font-size: 6.75em;
      span {
        filter: drop-shadow(black 0 1px 2px);
      }
    }
    .title {
      &.mono {
        visibility: visible;
        opacity: 1;
      }
      &.mini {
        right: 100%;
      }
    }
    &.major {
      top: 38.2%;
    }
  }
}
.logo-icon {
  width: 221px; height: 267px; background: url(images/logo.png) no-repeat; margin: auto;
  position: absolute; bottom: 20%; left: 50%; margin-left: -110px; z-index: 1;
  transition: transform .425s ease-in;
}
