@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Josefin+Sans|Julius+Sans+One|Lato|Poiret+One|Raleway");
.App {
  text-align: center; }

audio {
  width: 0;
  height: 0;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background: url(images/background.png) center/cover no-repeat; }

.monolith {
  transition: all 0.375s ease;
  transition-delay: 1.75s;
  width: 634px;
  height: 151px;
  background: url(images/mebop.png) no-repeat;
  margin: 3% auto 0; }
  .monolith.hidden {
    margin-top: -10%; }

.audio-player {
  transition: all 0.967s ease; }
  .audio-player .control {
    transition: all 0.967s ease;
    position: relative; }
  .audio-player .pause {
    display: none; }
  .audio-player .prev, .audio-player .play, .audio-player .next {
    display: inline-block; }
  .audio-player .prev, .audio-player .next {
    position: relative;
    top: 40px; }
    .audio-player .prev:active, .audio-player .next:active {
      transition: transform 0.35s; }
  .audio-player .prev {
    margin-right: 220px; }
    .audio-player .prev:active {
      transform: rotateZ(-20deg) translateX(10px);
      transform-origin: bottom right; }
  .audio-player .next {
    margin-left: 200px; }
    .audio-player .next:active {
      transform: rotateZ(20deg) translateX(-10px);
      transform-origin: bottom left; }
  .audio-player .tracker {
    position: fixed;
    filter: drop-shadow(0 70px 10px #652f0e); }
    .audio-player .tracker canvas {
      position: fixed;
      user-select: none;
      left: 11%;
      top: -72%;
      transform: rotateX(70deg) scale(1.3) rotateZ(45deg);
      transition: transform 1.875s ease, top 2.25s ease, filter 5s ease;
      filter: drop-shadow(0 12px 0px white) sepia(100%); }
    .audio-player .tracker > div {
      filter: drop-shadow(0px 10px 15px white); }
    .audio-player .tracker:not(.read-only) {
      visibility: hidden; }
      .audio-player .tracker:not(.read-only) canvas {
        cursor: ns-resize; }
  .audio-player .time {
    position: absolute;
    bottom: 20px;
    color: #fffad6;
    font-size: 4em;
    font-family: Josefin Sans;
    z-index: -1;
    filter: drop-shadow(#cc995c 0 12px 4px);
    transition: color 1s, filter 2s ease-out, font-size 3s ease-in; }
    .audio-player .time.current {
      left: 20px; }
    .audio-player .time.duration {
      right: 20px; }
    .audio-player .time span {
      filter: drop-shadow(#7b472c 0 1px 2px);
      transition: filter 1.67s ease; }
  .audio-player svg {
    cursor: pointer;
    transition: all 0.725s ease; }
    .audio-player svg:hover {
      transform: scale(1.25); }
  .audio-player.major {
    position: absolute;
    width: 100%;
    top: 25%; }
  .audio-player.playing .pause {
    display: inline-block; }
  .audio-player.playing .play {
    display: none; }
  .audio-player.playing .prev, .audio-player.playing .next {
    top: -27px;
    margin: 50px; }
  .audio-player.playing .tracker.read-only {
    visibility: hidden; }
  .audio-player.playing .tracker:not(.read-only) {
    visibility: visible; }
  .audio-player.playing .tracker canvas {
    top: 25% !important;
    transform: rotateX(70deg) scale(1);
    filter: drop-shadow(0 12px 0px white) sepia(0%); }
  .audio-player.playing .tracker.tracking {
    z-index: 1; }
    .audio-player.playing .tracker.tracking canvas {
      transform: rotateX(360deg) scale(0.5) translateY(-20%);
      filter: drop-shadow(orange 0 0 2px); }
  .audio-player.playing .time {
    color: white;
    filter: drop-shadow(darkorange 0 15px 5.575px);
    font-size: 6.75em; }
    .audio-player.playing .time span {
      filter: drop-shadow(black 0 1px 2px); }
  .audio-player.playing.major {
    top: 38.2%; }

.icon {
  width: 221px;
  height: 267px;
  background: url(images/logo.png) no-repeat;
  margin: auto;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -110px;
  z-index: 1;
  transition: transform .425s ease-in; }
