@import url('https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Josefin+Sans|Julius+Sans+One|Lato|Poiret+One|Raleway');
.App {
  text-align: center;
  .container {
    transition: filter 0.675s;
    filter: blur(0);
  }
  .menu-icon {
    position: fixed;
    right: 35px;
    bottom: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0;
    border-radius: 50%;
    transition: transform 3.3s cubic-bezier(0.83, 0.01, 0.08, 1), border 4.5s, box-shadow 1.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: rotate(0);
    z-index: 10;
    span, span:before, span:after {
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: rgba(255, 255, 255, 0.45);
      border: 1px solid #905A0E;
      transition: all 1.25s ease, border 3.75s, box-shadow 1.795s;
      box-shadow: 0 1px 2px rgba(20, 0, 0, 0.7);
    }
    span {
      left: 21px;
      top: 50%;
      margin-top: -3px;
      &:before {
        content: '';
        left: -15px;
        top: -1px;
      }
      &:after {
        content: '';
        right: -15px;
        top: -1px;
      }
    }
    &:hover {
      transform: rotate(360deg);
      border: 1px solid #460000;
      box-shadow: inset 0 0 10px rgba(9, 0, 0, 0.5);
      span, span:before, span:after {
        width: 10px;
        height: 10px;
        border: 1px solid #460000;
        box-shadow: 0 0 10px rgba(20, 0, 0, 0.375);      
      }
      span {
        left: 19px;
        margin-top: -5px;
        &:before { left: -18px; }
        &:after { right: -18px; }
      }
    }
  }
  .navigator {
    position: fixed;
    top: 0;
    left: 0;
      width: 100%;
      height: 100%;
    visibility: hidden;
    background: transparent;
    transition: visibility 1s, background 1.85s cubic-bezier(0.86, 0, 0.07, 1), transform 2s;
    transform: scale(1.5);
  }
  &.explore {
    .container {
      filter: url('#blur');
      filter: blur(8px);
    }
    .menu-icon {
      transition: all 0.75s cubic-bezier(0.77, 0, 0.175, 1);
      span {
        width: 58px;
        height: 58px;
        margin: -30px -24px;
        background: transparent;
        border: 1px solid transparent;
        box-shadow: 0 0 0;
        &:before {
          width: 1px;
          height: 30px;
          transform: translate3d(42px, 14px, 0px) rotate(45deg);
          border-radius: 2px;
        }
        &:after {
          width: 1px;
          height: 30px;
          transform: translate3d(-42px, 14px, 0px) rotate(-45deg);
          border-radius: 2px;
        }
      }
      &:hover {
        transform: rotate(90deg);
        span {
          background: rgba(0, 0, 0, 0.25);
          box-shadow: 1px 0 2px rgba(20, 0, 0, 0.7);
          &:before {
            width: 2px;
            height: 50px;
            border-radius: 50%;
            transform: translate3d(45px,5px,0px) rotate(45deg);
          }
          &:after {
            width: 2px;
            height: 50px;
            border-radius: 50%;
            transform: translate3d(-45px,5px,0px) rotate(-45deg);
          }
        }
      }
    }
    .navigator {
      background: rgba(120, 0, 0, 0.7);
      z-index: 2;
      visibility: visible;
      transform: scale(1);
    }
  }
}
audio { width: 0; height: 0; visibility: hidden; }
html, body {
  width: 100%; height: 100%; overflow: auto;
}
body {
  background: url(images/background.png) center/cover no-repeat;
}
.monolith {
  transition: all 0.375s ease;
  transition-delay: 1.75s;
  width: 634px; height: 151px; background: url(images/mebop.png) no-repeat;
  margin: 3% auto 0;
  &.hidden {
    margin-top: -10%;
  }
}
.audio-player {
  transition: all 0.967s ease;
  .control {
    transition: all 0.967s ease;
    position: relative;
    svg {
      transition: all 0.725s ease;
      &:hover {
        transform: scale(1.25);
      }
    }
  }
  .pause { display: none; }
  .prev, .play, .next {
    display: inline-block;
  }
  .prev, .next {
    position: relative; top: 40px;
    &:active { transition: transform 0.35s; }
  }
  .prev {
    margin-right: 220px;
    &:active {
      transform: rotateZ(-20deg) translateX(10px);
      transform-origin: bottom right;
    }
  }
  .next {
    margin-left: 200px;
    &:active {
      transform: rotateZ(20deg) translateX(-10px);
      transform-origin: bottom left;
    }
  }
  .tracker {
    position: fixed;
    filter: drop-shadow(0 70px 10px #652f0e);
    canvas {
      position: fixed;
      user-select: none;
      left: 11%;
      top: -72%;
      transform: rotateX(70deg) scale(1.3) rotateZ(45deg);
      transition: transform 1.875s ease, top 2.25s ease, filter 5s ease;
      filter: drop-shadow(0 12px 0px white) sepia(100%);
    }
    input { visibility: hidden }
    & > div {
      filter: drop-shadow(0px 10px 15px white);
    }
    &:not(.read-only) {
      visibility: hidden;
      canvas { cursor: ns-resize; }
    }
  }
  .time {
    position: absolute;
    bottom: 20px;
    color: #fffad6;
    font-size: 4em;
    // font-family: Bubbler One;
    // font-family: Bungee Outline;
    font-family: Josefin Sans;
    // font-family: Julius Sans One;
    // font-family: Poiret One;
    // font-family: Raleway;
    z-index: -1;
    filter: drop-shadow(#cc995c 0 12px 4px);
    transition: color 1s, filter 2s ease-out, font-size 3s ease-in;
    &.current {
      left: 20px;
    }
    &.duration {
      right: 20px;
    }
    span {
      cursor: default;
      filter: drop-shadow(#7b472c 0 1px 2px);
      transition: filter 1.67s ease;
    }
  }
  .title {
    position: fixed;
    color: white;
    // font-family: Bubbler One;
    // font-family: Bungee Outline;
    // font-family: Josefin Sans;
    // font-family: Julius Sans One;
    // font-family: Poiret One;
    font-family: Raleway;
    &.mono {
      font-size: 8.75em;
      width: 100%;
      left: 0;
      top: 10%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 2.5s ease-out, visibility 2.5s;
      filter: drop-shadow(darkorange 0 7px 8px);
      text-shadow: 0 80px 2em #FFEE6F;
      span {
        filter: drop-shadow(#7b472c 0 1px 2px);
      }
    }
    &.mini {
      font-size: 1.525em;
      right: 0;
      bottom: 10px;
      transition: right 2.5s ease-out;
      text-align: center;
      width: 100%;
      filter: drop-shadow(#ab5e00 0 3px 4px);
      text-shadow: 0 1px 1px darken(#E9581D, 20%), 0 3.5px 0.875em #FFEE6F;
      span {
        font-weight: bold;
        display: block;
        font-size: 2.25rem;
        filter: drop-shadow(darken(#E9581D, 40%) 0 1px 1px);
      }
    }
    marquee {
      overflow: visible !important;
      filter: drop-shadow(black 0 1px 1px);
    }
    span {
      cursor: default;
    }
  }
  .volume {
    position: fixed;
    top: 15px;
    right: 80px;
    .icon {
      position: absolute;
      transition: opacity 0.695s, transform 0.575s ease;
      &.audible { left: 0; opacity: 1; }
      &.muted { left: -2px; opacity: 0; }
    }
    .scrubber {
      position: absolute;
      top: 50px;
      width: 50px;
      height: 120px;
      opacity: 0.8;
      transition: opacity 0.5s ease, transform 0.875s ease;
      transform: translateY(-15px) scale(0.675);
      & > div {
        width: 40%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.45);
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin: 30% auto 0;
        border-radius: 9px;
        // overflow: hidden;
        box-shadow: 0 -4px 15px #ffd577;
        border: 0.5px solid #865703;
        filter: drop-shadow(0 3px 3px #864d0f);
        div {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 42%;
          box-shadow: 0 0 5px #402200;
          border: 1px solid #772b02;
          box-sizing: border-box;
          background: #e3581a;
          background: -moz-linear-gradient(top, #e3581a 0%, #ffca4e 100%);
          background: -webkit-linear-gradient(top, #e3581a 0%,#ffca4e 100%);
          background: linear-gradient(to bottom, #e3581a 0%,#ffca4e 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3581a', endColorstr='#ffca4e',GradientType=0 );
        }
      }
    }
    &.mute {
      .icon {
        &.audible { opacity: 0; }
        &.muted { opacity: 1; }
      }
      .scrubber {
        & > div div {
          background: grey;
        }
      }
    }
    &:hover {
      .icon {
        transform: scale(1.25);
        &.muted { left: -4px; }
      }
      .scrubber {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }
  svg {
    cursor: pointer;
  }
  &.major {
    position: absolute;
    width: 100%;
    top: 25%;
  }
  &.playing {
    .pause { display: inline-block; }
    .play { display: none; }
    .prev, .next { top: -27px; margin: 50px; }
    .tracker {
      &.read-only { visibility: hidden; }
      &:not(.read-only) { visibility: visible; }
      canvas {
        top: 25%!important;
        transform: rotateX(70deg) scale(1);
        filter: drop-shadow(0 12px 0px white) sepia(0%);
      }
      &.tracking {
        z-index: 1;
        canvas {
          transform: rotateX(360deg) scale(0.5) translateY(-20%);
          filter: drop-shadow(orange 0 0 2px);
        }
      }
    }
    .time {
      color: white;
      filter: drop-shadow(darkorange 0 15px 5.575px);
      font-size: 6.75em;
      span {
        filter: drop-shadow(black 0 1px 2px);
      }
    }
    .title {
      &.mono {
        visibility: visible;
        opacity: 1;
      }
      &.mini {
        right: 100%;
      }
    }
    &.major {
      top: 38.2%;
    }
  }
}
.logo-icon {
  width: 221px; height: 267px; background: url(images/logo.png) no-repeat; margin: auto;
  position: absolute; bottom: 20%; left: 50%; margin-left: -110px; z-index: 1;
  transition: transform .425s ease-in;
}
