@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Josefin+Sans|Julius+Sans+One|Lato|Poiret+One|Raleway");
.App {
  text-align: center; }

audio {
  width: 0;
  height: 0;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background: url(images/background.png) center/cover no-repeat; }

.monolith {
  transition: all 0.375s ease;
  transition-delay: 1.75s;
  width: 634px;
  height: 151px;
  background: url(images/mebop.png) no-repeat;
  margin: 3% auto 0; }
  .monolith.hidden {
    margin-top: -10%; }

.audio-player {
  transition: all 0.967s ease; }
  .audio-player .control {
    transition: all 0.967s ease;
    position: relative; }
    .audio-player .control svg {
      transition: all 0.725s ease; }
      .audio-player .control svg:hover {
        transform: scale(1.25); }
  .audio-player .pause {
    display: none; }
  .audio-player .prev, .audio-player .play, .audio-player .next {
    display: inline-block; }
  .audio-player .prev, .audio-player .next {
    position: relative;
    top: 40px; }
    .audio-player .prev:active, .audio-player .next:active {
      transition: transform 0.35s; }
  .audio-player .prev {
    margin-right: 220px; }
    .audio-player .prev:active {
      transform: rotateZ(-20deg) translateX(10px);
      transform-origin: bottom right; }
  .audio-player .next {
    margin-left: 200px; }
    .audio-player .next:active {
      transform: rotateZ(20deg) translateX(-10px);
      transform-origin: bottom left; }
  .audio-player .tracker {
    position: fixed;
    filter: drop-shadow(0 70px 10px #652f0e); }
    .audio-player .tracker canvas {
      position: fixed;
      user-select: none;
      left: 11%;
      top: -72%;
      transform: rotateX(70deg) scale(1.3) rotateZ(45deg);
      transition: transform 1.875s ease, top 2.25s ease, filter 5s ease;
      filter: drop-shadow(0 12px 0px white) sepia(100%); }
    .audio-player .tracker input {
      visibility: hidden; }
    .audio-player .tracker > div {
      filter: drop-shadow(0px 10px 15px white); }
    .audio-player .tracker:not(.read-only) {
      visibility: hidden; }
      .audio-player .tracker:not(.read-only) canvas {
        cursor: ns-resize; }
  .audio-player .time {
    position: absolute;
    bottom: 20px;
    color: #fffad6;
    font-size: 4em;
    font-family: Josefin Sans;
    z-index: -1;
    filter: drop-shadow(#cc995c 0 12px 4px);
    transition: color 1s, filter 2s ease-out, font-size 3s ease-in; }
    .audio-player .time.current {
      left: 20px; }
    .audio-player .time.duration {
      right: 20px; }
    .audio-player .time span {
      cursor: default;
      filter: drop-shadow(#7b472c 0 1px 2px);
      transition: filter 1.67s ease; }
  .audio-player .title {
    position: fixed;
    color: white;
    font-family: Raleway; }
    .audio-player .title.mono {
      font-size: 8.75em;
      width: 100%;
      left: 0;
      top: 10%;
      visibility: hidden;
      opacity: 0;
      transition: opacity 2.5s ease-out, visibility 2.5s;
      filter: drop-shadow(darkorange 0 7px 8px);
      text-shadow: 0 80px 2em #FFEE6F; }
      .audio-player .title.mono span {
        filter: drop-shadow(#7b472c 0 1px 2px); }
    .audio-player .title.mini {
      font-size: 1.525em;
      right: 0;
      bottom: 10px;
      transition: right 2.5s ease-out;
      text-align: center;
      width: 100%;
      filter: drop-shadow(#ab5e00 0 3px 4px);
      text-shadow: 0 1px 1px #92340e, 0 3.5px 0.875em #FFEE6F; }
      .audio-player .title.mini span {
        font-weight: bold;
        display: block;
        font-size: 2.25rem;
        filter: drop-shadow(#351305 0 1px 1px); }
    .audio-player .title marquee {
      overflow: visible !important;
      filter: drop-shadow(black 0 1px 1px); }
    .audio-player .title span {
      cursor: default; }
  .audio-player .volume {
    position: fixed;
    top: 15px;
    right: 80px; }
    .audio-player .volume .icon {
      position: absolute;
      transition: opacity 0.695s, transform 0.575s ease; }
      .audio-player .volume .icon.audible {
        left: 0;
        opacity: 1; }
      .audio-player .volume .icon.muted {
        left: -2px;
        opacity: 0; }
    .audio-player .volume .scrubber {
      position: absolute;
      top: 50px;
      width: 50px;
      height: 120px;
      opacity: 0.8;
      transition: opacity 0.5s ease, transform 0.875s ease;
      transform: translateY(-15px) scale(0.675); }
      .audio-player .volume .scrubber > div {
        width: 40%;
        height: 80%;
        background-color: rgba(255, 255, 255, 0.45);
        cursor: pointer;
        position: relative;
        z-index: 1;
        margin: 30% auto 0;
        border-radius: 9px;
        box-shadow: 0 -4px 15px #ffd577;
        border: 0.5px solid #865703;
        filter: drop-shadow(0 3px 3px #864d0f); }
        .audio-player .volume .scrubber > div div {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          border-radius: 42%;
          box-shadow: 0 0 5px #402200;
          border: 1px solid #772b02;
          box-sizing: border-box;
          background: #e3581a;
          background: -moz-linear-gradient(top, #e3581a 0%, #ffca4e 100%);
          background: -webkit-linear-gradient(top, #e3581a 0%, #ffca4e 100%);
          background: linear-gradient(to bottom, #e3581a 0%, #ffca4e 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3581a', endColorstr='#ffca4e',GradientType=0 ); }
    .audio-player .volume.mute .icon.audible {
      opacity: 0; }
    .audio-player .volume.mute .icon.muted {
      opacity: 1; }
    .audio-player .volume.mute .scrubber > div div {
      background: grey; }
    .audio-player .volume:hover .icon {
      transform: scale(1.25); }
      .audio-player .volume:hover .icon.muted {
        left: -4px; }
    .audio-player .volume:hover .scrubber {
      opacity: 1;
      transform: translateY(0) scale(1); }
  .audio-player svg {
    cursor: pointer; }
  .audio-player.major {
    position: absolute;
    width: 100%;
    top: 25%; }
  .audio-player.playing .pause {
    display: inline-block; }
  .audio-player.playing .play {
    display: none; }
  .audio-player.playing .prev, .audio-player.playing .next {
    top: -27px;
    margin: 50px; }
  .audio-player.playing .tracker.read-only {
    visibility: hidden; }
  .audio-player.playing .tracker:not(.read-only) {
    visibility: visible; }
  .audio-player.playing .tracker canvas {
    top: 25% !important;
    transform: rotateX(70deg) scale(1);
    filter: drop-shadow(0 12px 0px white) sepia(0%); }
  .audio-player.playing .tracker.tracking {
    z-index: 1; }
    .audio-player.playing .tracker.tracking canvas {
      transform: rotateX(360deg) scale(0.5) translateY(-20%);
      filter: drop-shadow(orange 0 0 2px); }
  .audio-player.playing .time {
    color: white;
    filter: drop-shadow(darkorange 0 15px 5.575px);
    font-size: 6.75em; }
    .audio-player.playing .time span {
      filter: drop-shadow(black 0 1px 2px); }
  .audio-player.playing .title.mono {
    visibility: visible;
    opacity: 1; }
  .audio-player.playing .title.mini {
    right: 100%; }
  .audio-player.playing.major {
    top: 38.2%; }

.logo-icon {
  width: 221px;
  height: 267px;
  background: url(images/logo.png) no-repeat;
  margin: auto;
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-left: -110px;
  z-index: 1;
  transition: transform .425s ease-in; }

.menu-icon {
  position: fixed;
  right: 35px;
  bottom: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  box-shadow: inset 0 0 0;
  border-radius: 50%;
  transition: transform 3.3s cubic-bezier(0.83, 0.01, 0.08, 1), border 4.5s, box-shadow 1.5s;
  transform: rotate(0); }
  .menu-icon span, .menu-icon span:before, .menu-icon span:after {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid #905A0E;
    transition: all 1.25s ease, border 3.75s, box-shadow 1.795s;
    box-shadow: 0 1px 2px rgba(20, 0, 0, 0.7); }
  .menu-icon span {
    left: 21px;
    top: 50%;
    margin-top: -3px; }
    .menu-icon span:before {
      content: '';
      left: -15px;
      top: -1px; }
    .menu-icon span:after {
      content: '';
      right: -15px;
      top: -1px; }
  .menu-icon:hover {
    transform: rotate(360deg);
    border: 1px solid #460000;
    box-shadow: inset 0 0 10px rgba(9, 0, 0, 0.5); }
    .menu-icon:hover span, .menu-icon:hover span:before, .menu-icon:hover span:after {
      width: 10px;
      height: 10px;
      border: 1px solid #460000;
      box-shadow: 0 0 10px rgba(20, 0, 0, 0.375); }
    .menu-icon:hover span {
      left: 19px;
      margin-top: -5px; }
      .menu-icon:hover span:before {
        left: -18px; }
      .menu-icon:hover span:after {
        right: -18px; }
