@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Bubbler+One|Bungee+Outline|Josefin+Sans|Julius+Sans+One|Lato|Poiret+One|Raleway");
.App {
  text-align: center; }
  .App #filters {
    display: none; }
  .App .face {
    transition: filter 0.675s;
    filter: blur(0); }
    .App .face .logo-icon {
      width: 221px;
      height: 267px;
      background: url(images/logo.png) no-repeat;
      margin: auto;
      position: absolute;
      bottom: 20%;
      left: 50%;
      margin-left: -110px;
      z-index: 1;
      transition: transform .425s ease-in; }
    .App .face .logo-mono {
      transition: all 0.375s ease;
      transition-delay: 1.75s;
      width: 634px;
      height: 151px;
      background: url(images/mebop.png) no-repeat;
      margin: 3% auto 0; }
      .App .face .logo-mono.hidden {
        margin-top: -10%; }
  .App .menu-icon {
    position: fixed;
    right: 35px;
    bottom: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    box-shadow: inset 0 0 0;
    border-radius: 50%;
    transition: transform 3.3s cubic-bezier(0.83, 0.01, 0.08, 1), border 4.5s, box-shadow 1.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: rotate(0);
    z-index: 10; }
    .App .menu-icon span, .App .menu-icon span:before, .App .menu-icon span:after {
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: rgba(255, 255, 255, 0.45);
      border: 1px solid #905A0E;
      transition: all 1.25s ease, border 3.75s, box-shadow 1.795s;
      box-shadow: 0 1px 2px rgba(20, 0, 0, 0.7); }
    .App .menu-icon span {
      left: 21px;
      top: 50%;
      margin-top: -3px; }
      .App .menu-icon span:before {
        content: '';
        left: -15px;
        top: -1px; }
      .App .menu-icon span:after {
        content: '';
        right: -15px;
        top: -1px; }
    .App .menu-icon:hover {
      transform: rotate(360deg);
      border: 1px solid #460000;
      box-shadow: inset 0 0 10px rgba(9, 0, 0, 0.5); }
      .App .menu-icon:hover span, .App .menu-icon:hover span:before, .App .menu-icon:hover span:after {
        width: 10px;
        height: 10px;
        border: 1px solid #460000;
        box-shadow: 0 0 10px rgba(20, 0, 0, 0.375); }
      .App .menu-icon:hover span {
        left: 19px;
        margin-top: -5px; }
        .App .menu-icon:hover span:before {
          left: -18px; }
        .App .menu-icon:hover span:after {
          right: -18px; }
  .App .navigator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    background: transparent;
    transition: visibility 1s, background 1.85s cubic-bezier(0.86, 0, 0.07, 1), transform 2s;
    transform: scale(1.5); }
    .App .navigator .menu {
      background: rgba(0, 0, 0, 0.425);
      border: 1px solid rgba(255, 255, 255, 0.225);
      border-top: 1px solid;
      border-bottom: 0;
      border-radius: 4px 8px 0 0;
      box-shadow: inset 0 20px 55px rgba(30, 0, 0, 0.925);
      filter: drop-shadow(0 0 3px black);
      position: fixed;
      left: 20px;
      width: 300px;
      top: 100px;
      bottom: 0;
      transition: transform 1.87s cubic-bezier(0.86, 0, 0.07, 1);
      transform-origin: 100% 50%;
      transform-style: preserve-3d;
      transform: perspective(2000px) translate3d(-100%, 0, 0) rotateY(90deg); }
    .App .navigator .lunette {
      position: absolute;
      left: 350px;
      right: 120px;
      top: 100px;
      bottom: 25px;
      background: rgba(255, 255, 255, 0.015);
      filter: drop-shadow(0px 0 10px #540000);
      box-shadow: inset -10px 0 20px rgba(84, 0, 0, 0.125);
      border-right: 1px solid rgba(80, 0, 0, 0.25);
      border-top-right-radius: 15px; }
      .App .navigator .lunette .content {
        position: absolute;
        left: 0;
        right: 1px;
        top: 1px;
        bottom: 2px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 20px 20px 50px; }
      .App .navigator .lunette:after {
        content: '';
        position: absolute;
        display: block;
        bottom: 0;
        width: 100%;
        filter: blur(1px);
        height: 75px;
        z-index: 1;
        border-radius: 0 0 2px 2px;
        background: -moz-linear-gradient(top, rgba(84, 0, 0, 0) 0%, #540000 100%);
        background: -webkit-linear-gradient(top, rgba(84, 0, 0, 0) 0%, #540000 100%);
        background: linear-gradient(to bottom, rgba(84, 0, 0, 0) 0%, #540000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00540000', endColorstr='#540000',GradientType=0 ); }
      .App .navigator .lunette:before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        width: 100%;
        height: 50px;
        filter: blur(1px);
        border-radius: 2px 2px 0 0;
        opacity: 0;
        background: -moz-linear-gradient(top, #540000 0%, rgba(84, 0, 0, 0) 100%);
        background: -webkit-linear-gradient(top, #540000 0%, rgba(84, 0, 0, 0) 100%);
        background: linear-gradient(to bottom, #540000 0%, rgba(84, 0, 0, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#540000', endColorstr='#00540000',GradientType=0 ); }
    .App .navigator .widget.search {
      position: fixed;
      left: 350px;
      top: 80px;
      right: 120px; }
      .App .navigator .widget.search .search-field {
        border-radius: 4px 0 0 4px; }
      .App .navigator .widget.search .artist-field {
        border-radius: 0 4px 4px 0; }
      .App .navigator .widget.search input {
        font-size: 2em;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.45);
        padding-bottom: 4px;
        box-sizing: border-box;
        font-family: Raleway;
        width: 5%;
        outline: 0;
        box-shadow: 0 6px 7px -1px rgba(20, 0, 0, 0.67);
        transition: all 0.5s ease, width 3.45s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background: rgba(255, 255, 255, 0.85); }
        .App .navigator .widget.search input:hover {
          background: rgba(255, 255, 255, 0.95); }
        .App .navigator .widget.search input:focus {
          color: white;
          background: rgba(0, 0, 0, 0.85);
          border-color: rgba(255, 255, 255, 0.645); }
        .App .navigator .widget.search input:focus:hover {
          background: rgba(0, 0, 0, 0.95); }
    .App .navigator .widget .song-list li {
      display: inline-block;
      width: 20%;
      box-sizing: border-box; }
      .App .navigator .widget .song-list li .song-card {
        position: relative; }
        .App .navigator .widget .song-list li .song-card span {
          display: none; }
        .App .navigator .widget .song-list li .song-card .spacer {
          width: 100%; }
        .App .navigator .widget .song-list li .song-card .art {
          position: absolute;
          left: 50%;
          top: 50%;
          margin: -50px;
          transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75), box-shadow 1s cubic-bezier(0.68, -0.75, 0.265, 1.75), filter 2s cubic-bezier(0.86, 0, 0.07, 1);
          transform: scale(1);
          filter: blur(0) brightness(1);
          border-radius: 4px;
          border: 1px solid #500000;
          box-shadow: 0 0 0; }
        .App .navigator .widget .song-list li .song-card .play-spinner {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate3d(-50%, -50%, 0);
          margin-top: 3px;
          transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75); }
          .App .navigator .widget .song-list li .song-card .play-spinner .circle {
            fill: none;
            stroke: rgba(255, 255, 255, 0);
            transition: stroke 1s cubic-bezier(0.86, 0, 0.07, 1); }
            .App .navigator .widget .song-list li .song-card .play-spinner .circle.fill {
              stroke-dasharray: 35 270;
              stroke-width: 7px;
              stroke-opacity: .35;
              stroke-dashoffset: 0;
              transform: rotate(0deg);
              transform-origin: 54px;
              transition: stroke 3s ease,stroke-width 1s,stroke-dashoffset 3s,stroke-dasharray 1.5s,stroke-opacity 2s,transform 5s; }
          .App .navigator .widget .song-list li .song-card .play-spinner .control {
            width: 108px;
            height: 108px;
            display: inline-block;
            cursor: pointer; }
            .App .navigator .widget .song-list li .song-card .play-spinner .control:hover .play-arrow {
              transform: rotate(360deg) scale(2);
              stroke-width: 0; }
            .App .navigator .widget .song-list li .song-card .play-spinner .control:hover .fill {
              stroke-dasharray: 301;
              stroke-width: 2px;
              stroke-opacity: 1;
              stroke-dashoffset: -602;
              transform: rotate(395deg); }
            .App .navigator .widget .song-list li .song-card .play-spinner .control:hover:active .play-arrow {
              fill: rgba(255, 255, 255, 0.7);
              transform: rotate(382deg) scale(2);
              transition: transform 0.425s ease-out; }
            .App .navigator .widget .song-list li .song-card .play-spinner .control:hover:active .fill {
              stroke: rgba(255, 255, 255, 0.17);
              transition: stroke 0.235s ease-out,stroke-width 1s,stroke-dashoffset 3s,stroke-dasharray 1.5s,stroke-opacity 2s,transform 5s; }
          .App .navigator .widget .song-list li .song-card .play-spinner .play-arrow {
            transition: fill 0.45s, stroke-width 1.5s ease, transform 0.75s ease-out;
            transform: rotate(0deg) scale(1);
            transform-origin: 54px;
            stroke-width: 1px;
            stroke: rgba(0, 0, 0, 0.615); }
        .App .navigator .widget .song-list li .song-card:hover .art {
          transform: scale(2.5);
          filter: blur(1px) brightness(0.25) drop-shadow(0 15px 20px rgba(50, 0, 0, 0.97));
          z-index: 1;
          border-radius: 0;
          border: 0;
          box-shadow: 0 3px 8px #200000; }
        .App .navigator .widget .song-list li .song-card:hover .play-spinner {
          z-index: 1; }
          .App .navigator .widget .song-list li .song-card:hover .play-spinner .circle {
            stroke: #fff; }
            .App .navigator .widget .song-list li .song-card:hover .play-spinner .circle:not(.fill) {
              transition: stroke 3s cubic-bezier(0.86, 0, 0.07, 1); }
      .App .navigator .widget .song-list li:nth-child(5n) .song-card:hover .art {
        transform: scale(2.5) translateX(-30%); }
      .App .navigator .widget .song-list li:nth-child(5n) .song-card:hover .play-spinner {
        transform: translate3d(-120%, -50%, 0); }
      .App .navigator .widget .song-list li:nth-child(5n - 4) .song-card:hover .art {
        transform: scale(2.5) translateX(30%); }
      .App .navigator .widget .song-list li:nth-child(5n - 4) .song-card:hover .play-spinner {
        transform: translate3d(20%, -50%, 0); }
    .App .navigator .widget .void {
      margin: 30px auto;
      display: inline-block;
      font: 30px Raleway;
      color: white;
      text-shadow: 0 1px 2px black; }
  .App.explore .face {
    filter: url("#blur");
    filter: blur(8px); }
  .App.explore .menu-icon {
    transition: all 0.75s cubic-bezier(0.77, 0, 0.175, 1); }
    .App.explore .menu-icon span {
      width: 58px;
      height: 58px;
      margin: -30px -24px;
      background: transparent;
      border: 1px solid transparent;
      box-shadow: 0 0 0; }
      .App.explore .menu-icon span:before {
        width: 1px;
        height: 30px;
        transform: translate3d(42px, 14px, 0px) rotate(45deg);
        border-radius: 2px; }
      .App.explore .menu-icon span:after {
        width: 1px;
        height: 30px;
        transform: translate3d(-42px, 14px, 0px) rotate(-45deg);
        border-radius: 2px; }
    .App.explore .menu-icon:hover {
      transform: rotate(90deg); }
      .App.explore .menu-icon:hover span {
        background: rgba(0, 0, 0, 0.25);
        box-shadow: 1px 0 2px rgba(20, 0, 0, 0.7); }
        .App.explore .menu-icon:hover span:before {
          width: 2px;
          height: 50px;
          border-radius: 50%;
          transform: translate3d(45px, 5px, 0px) rotate(45deg); }
        .App.explore .menu-icon:hover span:after {
          width: 2px;
          height: 50px;
          border-radius: 50%;
          transform: translate3d(-45px, 5px, 0px) rotate(-45deg); }
  .App.explore .navigator {
    background: rgba(120, 0, 0, 0.7);
    z-index: 2;
    visibility: visible;
    transform: scale(1); }
    .App.explore .navigator .menu {
      transition-delay: 1.85s;
      transform: perspective(2000px) translate3d(0, 0, 0) rotateY(0deg); }
    .App.explore .navigator .widget.search input {
      width: 45%; }

audio {
  width: 0;
  height: 0;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%;
  overflow: auto; }

body {
  background: url(images/background.png) center/cover no-repeat; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.audio-player {
  position: absolute; }
  .audio-player.minor {
    left: 30px;
    right: 30px;
    top: 10px;
    height: 60px;
    border: 1px solid;
    border-right: 2px solid;
    border-left: 2px solid;
    border-radius: 4px 4px 0 0;
    background: rgba(255, 255, 255, 0.165);
    transform: perspective(1500px) rotateX(40deg);
    transition: all 1s ease, transform 1.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    filter: drop-shadow(0 30px 10px rgba(60, 0, 0, 0.4));
    border-color: #500000; }
    .audio-player.minor .control {
      cursor: pointer;
      position: absolute;
      top: 0;
      height: 100%;
      line-height: 60px; }
    .audio-player.minor .playpause {
      left: 30px;
      width: 50px; }
      .audio-player.minor .playpause a {
        border: 0.75em solid transparent;
        border-right: none;
        border-left-color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -0.75em 0 0 -0.375em; }
    .audio-player.minor .prev {
      font-size: 35px;
      width: 30px; }
      .audio-player.minor .prev:after {
        content: '‹';
        color: #fff;
        font-family: Josefin Sans; }
      .audio-player.minor .prev:active:after {
        content: '«'; }
    .audio-player.minor .next {
      font-size: 35px;
      width: 30px;
      left: 80px; }
      .audio-player.minor .next:after {
        content: '›';
        color: #fff;
        font-family: Josefin Sans; }
      .audio-player.minor .next:active:after {
        content: '»'; }
    .audio-player.minor .progress-bar {
      position: absolute;
      left: 120px;
      right: 50px;
      height: 4px;
      top: 50%;
      margin-top: -2px;
      background: rgba(255, 255, 255, 0.425);
      border-radius: 5px;
      cursor: pointer; }
      .audio-player.minor .progress-bar .played {
        width: 0;
        height: 100%;
        background: #fff;
        border-radius: 5px;
        position: relative; }
        .audio-player.minor .progress-bar .played:after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          background-color: #fff;
          position: absolute;
          right: 0;
          top: -3px;
          border-radius: 50%; }
    .audio-player.minor .time {
      position: absolute;
      bottom: 5px;
      color: white;
      font-family: Josefin Sans; }
      .audio-player.minor .time.current {
        left: 120px; }
      .audio-player.minor .time.duration {
        right: 50px; }
    .audio-player.minor .title {
      color: white;
      font-family: Raleway;
      position: relative;
      top: 36px; }
    .audio-player.minor .volume {
      right: 0;
      width: 50px; }
      .audio-player.minor .volume .icon {
        width: 100%;
        height: 100%; }
      .audio-player.minor .volume .scrubber {
        height: 150px;
        cursor: default;
        position: absolute;
        left: 0;
        right: -1px;
        visibility: hidden;
        width: 50px;
        background: rgba(255, 255, 255, 0.165);
        opacity: 0;
        border-radius: 0 0 4px 4px;
        transition: opacity 0.7s cubic-bezier(0.86, 0, 0.07, 1), visibility 0.7s, background 1s ease;
        transition-delay: 0s, 0.7s, 0s;
        z-index: 1; }
        .audio-player.minor .volume .scrubber > div {
          position: absolute;
          left: 50%;
          margin: 7px -2px;
          width: 4px;
          height: 90%;
          background: rgba(255, 255, 255, 0.435);
          border-radius: 5px; }
          .audio-player.minor .volume .scrubber > div div {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: #fff;
            border-radius: 5px; }
            .audio-player.minor .volume .scrubber > div div:after {
              content: '';
              display: block;
              width: 10px;
              height: 10px;
              background-color: #fff;
              position: absolute;
              top: -5px;
              left: -3px;
              border-radius: 50%; }
      .audio-player.minor .volume a {
        position: relative;
        width: 0.313em;
        height: 0.375em;
        background-color: #fff;
        z-index: 1;
        top: 45%;
        left: 35%;
        overflow: visible;
        text-indent: -9999px; }
        .audio-player.minor .volume a:before {
          position: absolute;
          content: '';
          width: 0;
          height: 0;
          border: 0.5em solid transparent;
          border-left: none;
          border-right-color: #fff;
          z-index: 2;
          top: 50%;
          right: -0.25em;
          margin-top: -0.5em; }
        .audio-player.minor .volume a:after {
          position: absolute;
          content: '';
          width: 0.313em;
          height: 0.313em;
          border: 0.25em double #fff;
          border-width: 0.25em 0.25em 0 0;
          left: 0.563em;
          top: -0.063em;
          border-radius: 0 0.938em 0 0;
          transform: rotate(45deg); }
      .audio-player.minor .volume:hover .scrubber {
        visibility: visible;
        opacity: 1; }
    .audio-player.minor a {
      display: block;
      width: 0;
      height: 0;
      overflow: hidden; }
    .audio-player.minor:after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 12px;
      top: 100%;
      background: rgba(55, 0, 0, 0.45);
      transition: transform 1.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transform: perspective(2000px) rotateX(-40deg);
      border-radius: 0 0 4px 4px; }
    .audio-player.minor:hover {
      transform: perspective(1500px) rotateX(0deg);
      left: 10px;
      right: 10px;
      border: none;
      background: rgba(255, 255, 255, 0.95);
      z-index: 1; }
      .audio-player.minor:hover .control a {
        border-left-color: #A83418; }
      .audio-player.minor:hover .control:before, .audio-player.minor:hover .control:after {
        color: #A83418; }
      .audio-player.minor:hover .progress-bar {
        background: rgba(119, 45, 4, 0.5); }
        .audio-player.minor:hover .progress-bar .played {
          background: #A83418; }
          .audio-player.minor:hover .progress-bar .played:after {
            background-color: #A83418; }
      .audio-player.minor:hover .time, .audio-player.minor:hover .title {
        color: #A83418; }
      .audio-player.minor:hover .volume .scrubber {
        background: rgba(255, 255, 255, 0.95); }
        .audio-player.minor:hover .volume .scrubber > div {
          background: rgba(119, 45, 4, 0.35); }
          .audio-player.minor:hover .volume .scrubber > div div {
            background: #A83418; }
            .audio-player.minor:hover .volume .scrubber > div div:after {
              background-color: #A83418; }
      .audio-player.minor:hover .volume a {
        background-color: #A83418; }
        .audio-player.minor:hover .volume a:before {
          border-right-color: #A83418; }
        .audio-player.minor:hover .volume a:after {
          border-color: #A83418; }
      .audio-player.minor:hover:after {
        height: 9px;
        transform: rotateX(0deg);
        background: rgba(255, 255, 255, 0.45); }
    .audio-player.minor.playing .playpause a {
      border: 0;
      width: 20px;
      height: 20px;
      margin: -0.5em 0 0 -0.625em; }
      .audio-player.minor.playing .playpause a:before {
        left: 0; }
      .audio-player.minor.playing .playpause a:after {
        right: 0; }
      .audio-player.minor.playing .playpause a:before, .audio-player.minor.playing .playpause a:after {
        position: absolute;
        content: '';
        top: 0;
        width: 40%;
        height: 100%;
        background-color: #fff; }
    .audio-player.minor.playing:hover .playpause a:before, .audio-player.minor.playing:hover .playpause a:after {
      background-color: #A83418; }
  .audio-player.major {
    transition: all 0.967s ease;
    width: 100%;
    top: 25%; }
    .audio-player.major .control {
      transition: all 0.967s ease;
      position: relative; }
      .audio-player.major .control svg {
        transition: all 0.725s ease; }
        .audio-player.major .control svg:hover {
          transform: scale(1.25); }
    .audio-player.major .pause {
      display: none; }
    .audio-player.major .prev, .audio-player.major .play, .audio-player.major .next {
      display: inline-block; }
    .audio-player.major .prev, .audio-player.major .next {
      position: relative;
      top: 40px; }
      .audio-player.major .prev:active, .audio-player.major .next:active {
        transition: transform 0.35s; }
    .audio-player.major .prev {
      margin-right: 220px; }
      .audio-player.major .prev:active {
        transform: rotateZ(-20deg) translateX(10px);
        transform-origin: bottom right; }
    .audio-player.major .next {
      margin-left: 200px; }
      .audio-player.major .next:active {
        transform: rotateZ(20deg) translateX(-10px);
        transform-origin: bottom left; }
    .audio-player.major .tracker {
      position: fixed;
      filter: drop-shadow(0 70px 10px #652f0e); }
      .audio-player.major .tracker canvas {
        position: fixed;
        user-select: none;
        left: 11%;
        top: -72%;
        transform: rotateX(70deg) scale(1.3) rotateZ(45deg);
        transition: transform 1.875s ease, top 2.25s ease, filter 5s ease;
        filter: drop-shadow(0 12px 0px white) sepia(100%); }
      .audio-player.major .tracker input {
        visibility: hidden; }
      .audio-player.major .tracker > div {
        filter: drop-shadow(0px 10px 15px white); }
      .audio-player.major .tracker:not(.read-only) {
        visibility: hidden; }
        .audio-player.major .tracker:not(.read-only) canvas {
          cursor: ns-resize; }
    .audio-player.major .time {
      position: absolute;
      bottom: 20px;
      color: #fffad6;
      font-size: 4em;
      font-family: Josefin Sans;
      z-index: -1;
      filter: drop-shadow(#cc995c 0 12px 4px);
      transition: color 1s, filter 2s ease-out, font-size 3s ease-in; }
      .audio-player.major .time.current {
        left: 20px; }
      .audio-player.major .time.duration {
        right: 20px; }
      .audio-player.major .time span {
        cursor: default;
        filter: drop-shadow(#7b472c 0 1px 2px);
        transition: filter 1.67s ease; }
    .audio-player.major .title {
      position: fixed;
      color: white;
      font-family: Raleway; }
      .audio-player.major .title.mono {
        font-size: 8.75em;
        width: 100%;
        left: 0;
        top: 10%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 2.5s ease-out, visibility 2.5s;
        filter: drop-shadow(darkorange 0 7px 8px);
        text-shadow: 0 80px 2em #FFEE6F; }
        .audio-player.major .title.mono span {
          filter: drop-shadow(#7b472c 0 1px 2px); }
      .audio-player.major .title.mini {
        font-size: 1.525em;
        right: 0;
        bottom: 10px;
        transition: right 2.5s ease-out;
        text-align: center;
        width: 100%;
        filter: drop-shadow(#ab5e00 0 3px 4px);
        text-shadow: 0 1px 1px #92340e, 0 3.5px 0.875em #FFEE6F; }
        .audio-player.major .title.mini span {
          font-weight: bold;
          display: block;
          font-size: 2.25rem;
          filter: drop-shadow(#351305 0 1px 1px); }
      .audio-player.major .title marquee {
        overflow: visible !important;
        filter: drop-shadow(black 0 1px 1px); }
      .audio-player.major .title span {
        cursor: default; }
    .audio-player.major .volume {
      position: fixed;
      top: 15px;
      right: 80px; }
      .audio-player.major .volume .icon {
        position: absolute;
        transition: opacity 0.695s, transform 0.575s ease; }
        .audio-player.major .volume .icon.audible {
          left: 0;
          opacity: 1;
          z-index: 1; }
        .audio-player.major .volume .icon.muted {
          left: -2px;
          opacity: 0; }
      .audio-player.major .volume .scrubber {
        position: absolute;
        top: 50px;
        width: 50px;
        height: 120px;
        opacity: 0.8;
        transition: opacity 0.5s ease, transform 0.875s ease;
        transform: translateY(-15px) scale(0.675); }
        .audio-player.major .volume .scrubber > div {
          width: 40%;
          height: 80%;
          background-color: rgba(255, 255, 255, 0.45);
          cursor: pointer;
          position: relative;
          z-index: 1;
          margin: 30% auto 0;
          border-radius: 9px;
          box-shadow: 0 -4px 15px #ffd577;
          border: 0.5px solid #865703;
          filter: drop-shadow(0 3px 3px #864d0f); }
          .audio-player.major .volume .scrubber > div div {
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 42%;
            box-shadow: 0 0 5px #402200;
            border: 1px solid #772b02;
            box-sizing: border-box;
            background: #e3581a;
            background: -moz-linear-gradient(top, #e3581a 0%, #ffca4e 100%);
            background: -webkit-linear-gradient(top, #e3581a 0%, #ffca4e 100%);
            background: linear-gradient(to bottom, #e3581a 0%, #ffca4e 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3581a', endColorstr='#ffca4e',GradientType=0 ); }
      .audio-player.major .volume.mute .icon.audible {
        opacity: 0;
        z-index: 0; }
      .audio-player.major .volume.mute .icon.muted {
        opacity: 1; }
      .audio-player.major .volume.mute .scrubber > div div {
        background: grey; }
      .audio-player.major .volume:hover .icon {
        transform: scale(1.25); }
        .audio-player.major .volume:hover .icon.muted {
          left: -4px; }
      .audio-player.major .volume:hover .scrubber {
        opacity: 1;
        transform: translateY(0) scale(1); }
    .audio-player.major svg {
      cursor: pointer; }
    .audio-player.major.playing .pause {
      display: inline-block; }
    .audio-player.major.playing .play {
      display: none; }
    .audio-player.major.playing .prev, .audio-player.major.playing .next {
      top: -27px;
      margin: 50px; }
    .audio-player.major.playing .tracker.read-only {
      visibility: hidden; }
    .audio-player.major.playing .tracker:not(.read-only) {
      visibility: visible; }
    .audio-player.major.playing .tracker canvas {
      top: 25% !important;
      transform: rotateX(70deg) scale(1);
      filter: drop-shadow(0 12px 0px white) sepia(0%); }
    .audio-player.major.playing .tracker.tracking {
      z-index: 1; }
      .audio-player.major.playing .tracker.tracking canvas {
        transform: rotateX(360deg) scale(0.5) translateY(-20%);
        filter: drop-shadow(orange 0 0 2px); }
    .audio-player.major.playing .time {
      color: white;
      filter: drop-shadow(darkorange 0 15px 5.575px);
      font-size: 6.75em; }
      .audio-player.major.playing .time span {
        filter: drop-shadow(black 0 1px 2px); }
    .audio-player.major.playing .title.mono {
      visibility: visible;
      opacity: 1; }
    .audio-player.major.playing .title.mini {
      right: 100%; }
    .audio-player.major.playing.major {
      top: 38.2%; }

::selection {
  background: #604545;
  color: #fff;
  text-shadow: none; }

input::selection {
  background: #fff;
  color: black; }

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: none; }

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 50% 0 0 50%;
  background-color: rgba(20, 0, 0, 0.45); }

::-webkit-scrollbar-thumb:window-inactive {
  background-color: rgba(20, 0, 0, 0.25); }
